.dashboard {
    width: 83%;
    height: 100vh;
    margin: 0 0 0 auto;
}

.navigation {
    background-color: white;
    box-shadow: 1px 3px 5px #bdbdbd;
    padding: 5px 10px;
    width: 80%;
    margin: 0 auto;
}

.banner {
    background-color: white;
    box-shadow: 1px 3px 5px #bdbdbd;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding-left: 10px;
    box-sizing: border-box;
}

.bannerimg {

    width: 20%;
}

.banner div img {
    width: 100%;
    object-fit: cover;
}


.dash-details .dash-deatailsSet {
    width: 78%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 1px 2px 3px #999898;
    display: grid;
    grid-template-columns: 50% 50%;

}

.dash-deatailsSet div {
    width: 100%;
    background-color: white;
    box-shadow: 1px 2px 3px #c0c0c0;
    margin: 10px 0;
    padding: 10px 3px;
}

.dash-info {
    color: #666565;
    margin: 0 auto;
}





@media (max-width:1063px) {
    .dashboard {
        width: 100%;
    }


}