.jss1 {
    width: 83%;
    height: 100vh;
    margin: 0 0 0 auto;
}

.h2 {
    color: #ff6400;
}

.inputjss1 {
    border: none;
}

.inputjss1:focus {
    outline: none;
}

.outlineNone {
    display: none;
}

.set {
    width: 80%;
    background-color: white;
    box-shadow: 1px 2px 5px #bdbdbd;
    margin: auto;
    padding: 0 10px;

}

.setBtn {
    display: flex;
    width: 100%;
    justify-content: start;
}

.setBtn button {
    border: none;
    padding: 9px 10px;
    background-color: #ff6400;
    color: white;
    border-left: 1px solid white;

}

.setDetails {
    width: 83%;
    margin: 0 0 0 auto;
}

.setinfo {
    width: 90%;
    background-color: white;
    box-shadow: 1px 2px 5px #bdbdbd;
    margin: 0 auto;
}

.setinfo p {
    color: #ff6400;
    text-align: center;
    padding: 5px;
    font-size: 1.2rem;
    font-weight: 500;
}

.setTerm {
    width: 75%;
}

.spin {
    animation: spin infinite 0.9s running normal;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        transition: 1s ease-out all;
    }
}

@media (max-width:1063px) {
    .jss1 {
        width: 100%;
    }

    .setDetails {
        width: 100%;
    }

    .outlineNone {
        display: block;
        cursor: pointer;
        padding: 0 10px;
        font-weight: 500;
    }

}

@media screen and (max-width:650px) {
    .setTerm {
        width: 100%;
    }
}


@media (max-width:508px) {
    .setBtn {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .setBtn button {
        border-top: 1px solid white;
    }
}