.jss1 {
    width: 83%;
    height: 100vh;
    margin: 0 0 0 auto;
}

.h2 {
    color: #ff6400;
}

.inputjss1 {
    border: none;
}

.inputjss1:focus {
    outline: none;
}

.outlineNone {
    display: none;
}

.set {
    width: 80%;
    background-color: white;
    box-shadow: 1px 2px 5px #bdbdbd;
    margin: auto;
    padding: 0 10px;

}

.setBtn {
    display: flex;
    width: 100%;
    justify-content: end;
}

.setBtn button {
    background-color: #ff6400;
    border: none;
    color: white;
    box-shadow: 2px 2px 5px #333232;
    margin: 10px 10px;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 1rem;
}


@media (max-width:1063px) {
    .jss1 {
        width: 100%;
    }

    .outlineNone {
        display: block;
        cursor: pointer;
        padding: 0 10px;
        font-weight: 500;
    }

}