.signup {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signupForm {
    width: 400px;
    overflow-x: hidden;
    background-color: white;
    box-shadow: 1px 2px 4px rgb(230, 230, 230);
    border-radius: 5px;
    padding-bottom: 30px;
}

.signupForm .form {
    margin-bottom: 10px;
}

.signupformInput div span {
    color: #706459;
    font-size: 0.9rem;
    font-weight: 500;
}

.signupformInput div>div {
    border: 1px solid #ddd4ce;
    border-radius: 5px;
    padding-left: 5px;
    margin-top: 5px;

}




.signupformInput div>div input {
    border: none;
    width: 90%;
    height: 35px;

}

.signupformInput div>div input:focus {
    outline: none;
}

.signupformInput div>div input::placeholder {
    font-size: 0.9rem;
    color: #d1ccc7;
}



.signupbtn {
    width: 93%;
    margin: 10px auto;
}

.signupbtn button {

    border: none;
    background-color: #ff6400;
    width: 100%;
    border-radius: 5px;
    padding: 10px 0;
    color: white;
    box-shadow: 1px 2px 5px #f7c9ab;
}

.gotAnAccount p {
    color: #424242;
}

.gotAnAccount p .link {
    text-decoration: none;
    color: #ff6400;
}



/* ///////SIGNUP/////////// */
.signin {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin-form {
    overflow-x: hidden;
    width: 400px;
    background-color: white;
    box-shadow: 1px 2px 5px #d1ccc7;
    padding: 10px 10px;
    padding-top: 0;
    box-sizing: border-box;
    border-radius: 5px;
}

.message p {
    text-align: center;
    color: #ff66009f;
    font-size: 1.1rem;
    font-style: oblique;
    font-weight: 500;
}

.inputform-box {
    width: 95%;
    margin: auto;
}

.inputform-box span {
    font-weight: 500;
    color: #706459;
}

.inputform-box div {
    border: 1px solid #b9b4b1;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 0 5px;
    margin-bottom: 10px;
}


.inputform-box div input {
    width: 94%;
    border: none;
    height: 35px;
    font-size: 0.9rem;
    color: #424242;
}

.inputform-box div input:focus {
    outline: none;
}


.inputform-box button {
    width: 100%;
    border: none;
    background: #ff6400;
    color: #d1ccc7;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 1px 2px 5px #f7c9ab;
    margin-top: 20px;
    color: white;
}

.noacc span {
    margin: 10px 0;
    color: #424242;
}

.noacc span .link {
    color: #ff6400;
}

/* Token */

.token {
    width: 400px;
    background-color: white;
    box-shadow: 1px 2px 4px #b9b4b1;
    overflow-x: hidden;
}

.tokenMove {
    width: 150px;
    height: 5px;
    background-color: #ff6400;
    border-radius: 20px;
    animation: tokenMove infinite 1s running normal;
}

@keyframes tokenMove {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(500px);
    }

}

.inputToken {

    display: flex;
    justify-content: center;
    align-items: center;

}

.inputToken input {
    width: 50px;
    border: 1px solid #ff6400;
    height: 50px;
    margin: 0 10px;
    text-align: center;
    color: #ff6400;
    font-size: 1.2rem;
    font-weight: bold;
}

.inputToken input:focus {
    outline: 2px solid #f7c9ab;
}

.tokenBtn {
    width: 80%;
    margin: 10px auto;


}

.tokenBtn button {
    background-color: #ff6400;
    border: none;
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}

@media (max-width:400px) {
    .signin-form {
        width: 100%;
    }

    .signin-form {
        width: 100%;
    }

}