.setdetails {
    background-color: white;
    width: 400px;
    padding: 70px 10px;
    border-radius: 5px;
}

.addstudentModal {
    width: 600px;
    background-color: white;
    height: 90%;
    position: fixed;
}

.tokenMove {
    width: 150px;
    height: 5px;
    background-color: #ff6400;
    border-radius: 20px;
    animation: tokenMove infinite 1s running normal;
}

@keyframes tokenMove {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(500px);
    }

}

.setlistFee {
    width: 600px;
    background: white;
    padding-top: 20px;
    border-radius: 10px;
}

.spin {
    animation: spin infinite 0.9s normal running;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }


    100% {
        transform: rotate(360deg);
    }
}

.schoolFeeModal {
    width: 500px;
    background: white;

}

.delsubjectmodal {
    width: 400px;
    border-radius: 6px;
    padding: 10px 0;
}

.delmodaltrash {
    color: red;
    animation: trash infinite 0.9s running normal;
}

@keyframes trash {
    to {
        transform: rotate(45deg);
    }

    from {
        transform: rotate(-45deg);
    }
}

.modalmessageforStudent {
    width: 600px;
    background-color: white;
}

.deletesex {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: #1b1b1b9a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deletesexModal {
    width: 500px;
    background-color: white;
    border-radius: 10px;
}

.deletesexModal p {
    text-align: center;
    font-family: sans-serif;
    padding: 10px 0;
}

.mail-modal {
    width: 500px;
    background-color: white;
    height: 480px;

}


.mail-modal input {
    width: 100%;
    border: 1px solid #8b8b8b9a;
    border-radius: 5px;
    height: 40px;
}

.mail-modal input:focus {
    outline: none;
}

.mail-modal textarea {
    width: 100%;
    resize: none;
    height: 250px;
    border: 1px solid #7271719a;
    border-radius: 5px;

}

.mail-modal textarea:focus {
    outline: none;
}

.mail-modal-btn {
    width: 90%;
    padding: 10px 0;
}

.deactivateModal {
    width: 300px;
    background-color: white;
    border-radius: 20px;
    padding: 10px 5px;
}

.deactivateModal div {
    display: flex;
    width: 96%;
    margin: 0 auto;
}

.deactivateModal div button {
    border: none;
    text-align: center;
    background-color: none;
    padding: 8px 10px;
}

.deactivateModal div button:hover {
    transition: 1s ease-out;
    background-color: #dbdada;
}

@media (max-width:700px) {
    .setdetails {
        width: 95%;

    }
}

.editsubject {
    width: 600px;
    background: white;
}


@Media (max-width:600px) {


    .addstudentModal {
        width: 96%;

    }

    .setlistFee {
        width: 95%;
    }

    .editsubject {
        width: 95%;
    }
}

@Media (max-width:500px) {
    .mail-modal {
        width: 95%;
    }
}