.setdetails {
    background-color: white;
    width: 700px;
    padding: 10px 10px;
    border-radius: 5px;
}

.addstudentModal {
    width: 600px;
    background-color: white;
}
.tokenMove {
    width: 150px;
    height: 5px;
    background-color: #ff6400;
    border-radius: 20px;
    animation: tokenMove infinite 1s running normal;
}

@keyframes tokenMove {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(500px);
    }

}


@media (max-width:700px) {
    .setdetails {
        width: 95%;

    }
}


@Media (max-width:600px) {


    .addstudentModal {
        width: 96%;

    }

}