.studentBoard {
    width: 83%;
    margin: 0 0 0 auto;

}

.link {
    text-decoration: none;
    color: black;
}

.text {
    border: none;
}

.text:focus {
    outline: none;
}

.searchInfo {
    background-color: white;
    box-shadow: 1px 2px 4px rgb(219, 219, 219);
    padding: 0 10px;
    align-items: center;
}

.searchInfo p {
    color: #ff6400;
    font-size: 1.2rem;
}

.searchInfo button {
    color: #ff6400;
}

.rowStudentCard {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-evenly;
}

.studentCard {
    background-color: white;
    box-shadow: 1px 2px 5px #afafaf;
    border-radius: 5px;
    padding: 5px 10px;
}

.studentCard .rowCardBtn {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;

}

.studentCard .rowCardBtn button {
    background-color: #ff6400;
    padding: 10px 0;
    text-align: center;
    color: white;
    border: none;
    background-color: none;
    border-left: 1px solid white;

}

.studentInfo div span {
    font-weight: 500;
    color: #858585;
}

.studentInfo div {
    margin-bottom: 5px;
    border-bottom: 1px solid #f1f1f1;
}

.studentInfo div p {
    color: #5f5f5f;
    font-weight: 400;
    font-size: 1rem;

}

@Media(max-width:900px) {
    .studentCard .rowCardBtn {
        grid-template-columns: 100%;
    }

    .studentCard .rowCardBtn button {
        border-bottom: 1px solid white;
    }
}

@Media (max-width:750px) {
    .rowStudentCard {
        grid-template-columns: 40% 40%;
    }

    .studentCard {
        margin-bottom: 10px;
    }

}

@Media (max-width:550px) {
    .rowStudentCard {
        grid-template-columns: 45% 45%;
    }

}

@Media (max-width:500px) {
    .rowStudentCard {
        grid-template-columns: 90%;
    }

}
















@media (max-width:1063px) {
    .studentBoard {
        width: 100%;
    }
}